.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /*background-image: url('\images.jpg'); */
    background-color: #f0f0f0;
  }
  
  .title {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    font-size: 48px;
    margin-bottom: 40px;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 18px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    border: 2px solid #000;
    background-color: #fff;
    color: #000; /* Changed text color to black */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #ddd;
  }
  